body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
*{
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
.f-10{
  font-size: 10px !important;
}
.f-11{
  font-size: 11px !important;
}
.f-12{
  font-size: 12px !important;
}
.f-13{
  font-size: 13px !important;
}
.f-14{
  font-size: 14px !important;
}
.f-15{
  font-size: 15px !important;
}
.f-16{
  font-size: 16px !important;
}
.f-17{
  font-size: 17px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-19{
  font-size: 19px !important;
}
.f-20{
  font-size: 20px !important;
}
.f-30{
  font-size: 30px !important;
}
.f-40{
  font-size: 40px !important;
}
.f-50{
  font-size: 50px !important;
}
.f-60{
  font-size: 60px !important;
}

p, label {
  color: #000000;
  line-height: 1.6;
}
.highcharts-title{
  color: #000000 !important;
  fill: #000000 !important;
}
a {
  color: #7684ea;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover, a:active {
  text-decoration: none;
  color: #7684ea;
}

a:hover.redirect-link i, a:active.redirect-link i {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

a:focus {
  outline: 0;
}

a.redirect-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.redirect-link i {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  transition: transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s, -webkit-transform 0.3s cubic-bezier(0.25, 0.55, 0.4, 2.1) 0s;
  margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}


/*Text Align*/
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/*Text Style*/
.text-muted {
  font-size: 13px;
  color: #767676 !important;
  margin-top: 5px;
}
.font-normal{
  font-weight: normal !important;
}
.font-bold{
  font-weight: 500;
}
.font-bolder{
  font-weight: 700;
}

a.c-blue{
  text-decoration: none;
}

/*Brand Text Color*/
.c-black{
  color: #000000;
}
.c-blue{
  color: #3e72fe;
}
.c-blue-link{
  color: #064666;
  text-decoration: none;
}
.c-blue-link:hover{
  color: #064666;
  text-decoration: underline;
}
.c-red{
  color: #ff1717;
}
.c-light-gray{
  color: #cfd2d3;
}
