.footer {
  position: relative;
}
.footer-content-item {
  margin-bottom: 20px;
}

.footer-details {
  margin-top: 10px;
}

.footer-details p {
  margin-bottom: 15px;
  color: #000;
  text-align: left;
}

.footer-details p:last-child {
  margin-bottom: 0;
}

.footer-content-title h3 {
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 200;
  text-align: left;
}

.footer-list {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.footer-list li {
  font-size: 14px;
  margin-bottom: 8px;
  position: relative;
  list-style: none;
}
.footer-list li .col{
  max-width: fit-content;
  margin-bottom: 0.5rem;
  padding-right: 0;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list li p {
  margin-top: 3px;
}

.footer-list li a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #ffffff;
  margin-bottom: .5rem;
}
.footer-list li a:hover {
  color: #ffffff;
  opacity: .6;
  text-decoration: none;
}

.footer-address-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-address-item:last-child {
  margin-bottom: 0;
}

.footer-address-text h4 {
  font-size: 18px;
  margin-bottom: 7px;
}

.footer-address-text p {
  font-size: 16px;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-address-text p a {
  color: #000;
}

.footer-address-text p a:hover {
  color: #7684ea;
}
.footer-copyright-text {
  text-align: left;
}

.footer-copyright-text p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 0;
  color: #fff;
}

.footer-copyright-text p a {
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
}

.footer-copyright-text p a:hover {
  text-decoration: none;
}
