body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.offcanvas-body {
  padding: 0;
}
.offcanvas-body .navbar-nav .nav-item {
  padding: .2rem .8rem;
}
.offcanvas-body .navbar-nav .nav-item:hover {
  background: #f7f7f7;
}
.offcanvas-body .navbar-nav .nav-item .nav-link{
  color: #3e4b5b;
  font-size: .875rem;
}
.offcanvas-start {
  top: 0;
  left: 0;
  width: 250px;
  border-right: 1px solid rgba(0,0,0,.2);
  transform: translateX(-100%);
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}
.offcanvas-header {
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.offcanvas-title img{
  margin-right: 0.5rem;
}
.nav-item:hover {
  background-color:rgb(160, 155, 155);
  padding-left: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.navbar-toggler{
  margin-left: 3rem;
  z-index: 1;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url('../public/images/menu.png');
}
.logo-text{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(66, 153, 225);
}
.breadcrumb .breadcrumb-item a{
  color: #3e4b5b;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item a .mdi{
  background: linear-gradient(90deg,#4299E1,#4299E1);
  display: inline-block;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  margin-right: 0.5rem;
}
.user-dropdown:hover{
  padding-left: 0;
  text-decoration: none;
  background: transparent;
}
.user-dropdown a{
  padding: 0.5rem;
}
.user-dropdown a:hover{
  padding: 0.5rem;
  text-decoration: none;
  background: transparent;
}
.user-dropdown .dropdown-menu{
  left: -8rem;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.2);
}
.user-dropdown .dropdown-menu .dropdown-item{
  color: #3e4b5b;
  font-size: .9rem;
  padding: .4rem !important;
}
.user-dropdown .dropdown-menu .dropdown-item:hover,
.user-dropdown .dropdown-menu .dropdown-item:focus,
.user-dropdown .dropdown-menu .dropdown-item:active{
  background: #f7f7f7;
}
.card {
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 0;
}
.card {
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}

.card-profile .card-header {
  height: 6rem;
  background-size: cover;
  background-position: center center
}

.card-profile-img {
  max-width: 6rem;
  margin-top: -4rem;
  margin-bottom: .5rem;
  border: 3px solid #fff;
  border-radius: 100%
}

.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  display: inline-block;
  background: #ced4da no-repeat center/cover;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 600;
  vertical-align: bottom
}

.avatar.avatar-md {
  width: 3rem;
  height: 3rem
}

.avatar.avatar-lg {
  width: 4rem;
  height: 4rem
}

.avatar.avatar-xl {
  width: 5rem;
  height: 5rem
}

.avatar.avatar-xxl {
  width: 7rem;
  height: 7rem;
  min-width: 7rem
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  padding: 1rem 1.25rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.card-header {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}
.card-header{
  background-image: url(https://demo.bootstrapious.com/admin-premium/1-4-5/img/photos/paul-morris-116514-unsplash.jpg);
}
.media-object.avatar.avatar-md{
  background-image: url(https://bootdey.com/img/Content/avatar/avatar2.png);
}
.media-object.avatar{
  background-image: url(https://bootdey.com/img/Content/avatar/avatar3.png);
}
.edit-profile{
  position: absolute;
  right: 1rem;
  font-size: 1rem;
}
.profile-img-block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-camera-icon{
  background: #ffffff;
  color: #000000 !important;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0.4rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7rem;
  right: auto;
  margin-right: -4.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*Text Align*/
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

/*Cursor*/
.cursor-pointer{
  cursor: pointer;
}

/*Font CSS*/
.f-10{
  font-size: 10px;
}
.f-11{
  font-size: 11px;
}
.f-12{
  font-size: 12px;
}
.f-13{
  font-size: 13px;
}
.f-14{
  font-size: 14px;
}
.f-15{
  font-size: 15px;
}
.f-16{
  font-size: 16px;
}
.f-17{
  font-size: 17px;
}
.f-18{
  font-size: 18px;
}
.f-19{
  font-size: 19px;
}
.f-20{
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .nav-user-profile{
    display: none;
  }
  .nav-toggle-profile{
    width: 100%;
  }
  .nav-toggle-profile .navbar-toggler{
    margin-left: auto;
  }
}
